body{
    height: 100vh;
    background: rgb(24, 24, 24);
    display: grid;
}

.cards-stack {
    margin: auto;
    width: 80%;
    max-width: 20rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.card {
    display: grid;
    width: 20rem;
}
.card img{
    width: 100%;
}

.normal-card {
    grid-column: 1/2;
    grid-row: 1/2;
}
.top-card {
    position: fixed;
}

.up-card{
    position: fixed;
    transition: all 0.4s;
    transform: scale(0.25) translate(-40rem, -75rem);
}

.down-card{
    position: fixed;
    transition: all 0.4s;
    transform: scale(0.25) translate(40rem, 75rem);
}
  